<main role="main" class="container">
  <p><label>Nome: <%= user.name%></label></p>
  <p><label>Usuario: <%= user.usuario%></label></p>
  <p><label>Email: <%= user.email%></label></p>
  <p><label>Cargo: <%= user.cargo%></label></p>
  <p><label>Data Cadastro: <%= user.dataCadastro%></label></p>

  <div>
    <button type="button" class="btn btn-info">Editar</button>
  </div>
</main>
