<main role="main" class="container">
  <p><label>Titulo: <%= evento.title%></label></p>
  <p><label>Nome: <%= evento.name%></label></p>
  <p><label>Descrição: <%= evento.description%></label></p>
  <p>
    <label>Data de publicação: <%= evento.publishDate.toDateString()%></label>
  </p>
  <p><label>Publicado por: <%= evento.publishedBy%></label></p>

  <img height="150" width="100" src="<%= evento.eventoImagePath%>" />
  <div>
    <a
      class="btn btn-info"
      href="/admin/evento/<%=evento.id%>/edit"
      role="button"
      >Editar</a
    >
  </div>
</main>
