<div>
  <label>Nome</label>
  <input type="text" name="name" value="<%= unidade.name %>" />
</div>

<div>
  <label>Cidade</label>
  <input type="text" name="cidade" value="<%= unidade.cidade %>" />
</div>

<div>
  <label>Estado</label>
  <input type="text" name="estado" value="<%= unidade.estado %>" />
</div>

<div>
  <label>Endereco</label>
  <input type="text" name="endereco" value="<%= unidade.endereco %>" />
</div>

<div>
  <label>Rua</label>
  <input type="text" name="rua" value="<%= unidade.rua %>" />
</div>

<div>
  <label>Numero</label>
  <input type="number" name="numero" value="<%= unidade.numero %>" />
</div>

<div>
  <label>cep</label>
  <input type="text" name="cep" value="<%= unidade.cep %>" />
</div>
