<h2 class="page-header"><%= unidade.name %></h2>

<div>
  cidade: <%= unidade.cidade%>
</div>

<div>
  estado: <%= unidade.estado%>
</div>
<div>
  endereco: <%= unidade.endereco%>
</div>
<div>
  rua: <%= unidade.rua%>
</div>
<div>
  numero: <%= unidade.numero%>
</div>
<div>
  cep: <%= unidade.cep%>
</div>

<a href="/admin/unidades/unidade/<%=unidade.id %>/edit">Edit</a>
