<div>
  <p><%=uniLocation.title%></p>
</div>

<div>
  <p><%=uniLocation.latitude%></p>
</div>

<div>
  <p><%=uniLocation.longitude%></p>
</div>

<div>
  <p><%=uniLocation.num_Telefone%></p>
</div>

<div>
  <p><%=uniLocation.num_Whats%></p>
</div>

<div>
  <p><%=uniLocation.email%></p>
</div>

<div>
  <p><%=uniLocation.endereco%></p>
</div>

<div>
  <p><%=uniLocation.bairro%></p>
</div>

<div>
  <p><%=uniLocation.numero%></p>
</div>
<div>
  <label>Unidade</label>
  <p>
    <a href="/admin/unidades/unidade/<%=uniLocation.unidade.id%>/show"
      ><%=uniLocation.unidade.name%></a
    >
  </p>
</div>
